body{
    background-size: cover;
}
.container {
    width:80%;
    margin-left:10%;
    margin-right:10%;
    border:solid black;
    height:800px;
    background-color: lightslategrey;
    border-radius:15px;
    
}
#containerTitle{
    text-align: center;
    font-size:75px;
}
#startButton {
    width:50%;
    height:75px;
    margin-left:25%;
    margin-right:25%;
    text-align: center;
}
#startBtn{
    height:65px;
    width:50%;
    background-color:orange;
    border:solid black;
    margin-left:25%;
    margin-right:25%;
    font-size:50px;
}
#resetButton {
    width:50%;
    height:75px;
    margin-left:25%;
    margin-right:25%;
    font-size:50px;
}
#resetBtn{
    height:65px;
    width:50%;
    border:solid black;
    margin-left:25%;
    margin-right:25%;
   
    
}
#timeRemaining{
    height:5%;
    width:100%;
    font-size:45px;
    margin-top:10px;
    text-align: center;
}
#triviaQuestion{
    height: 7.5%;
    width: 100%;
    font-size:45px;
    margin-top:25px;
    text-align: center;
}
#userChoices{
    height:30%;
    width:100%;
    text-align: center;
    margin-top:25px;
    font-size:35px;
}

#choice1, #choice2, #choice3, #choice4 {
    width:100%;
    height:50px;
}
#gifDiv {
    margin-left:40%;
    margin-right:40%;
    width:20%;
}
#gifDiv img {
    width:100%;
    height:100%;
}
#countDisplay{
width:500px;
text-align:center;
font-size:45px;
margin-left: 35%;
margin-right: 35%;
}
.cbtn, .cbtn2, .cbtn3, .cbtn4, .cbtn5{
    margin:25px;
    transition: 1.0s;
}
.cbtn:hover{
    background-color: lightslategray;
    color: orange;
  }
  .cbtn2:hover{
    background-color: lightslategray;
    color: orange;
  }
  .cbtn3:hover{
    background-color: lightslategray;
    color: orange;
  }
  .cbtn4:hover{
    background-color: lightslategray;
    color: orange;
  }
  .cbtn5:hover{
    background-color: lightslategray;
    color: orange;
  }
#instructionsDiv{
    font-size:30px;
    text-align:center;
    line-height: 50px;
}